FLASK_ENV=development
FLASK_PORT=5001
FLASK_DEBUG=0
MODEL_PATH=scin/checkpoints/aihub/best.pth
MODEL_BACKBONE=densenet121
THRESHOLD_PATH=scin/checkpoints/aihub/thresholds.json
DATA_CSV=scin/data/processed_aihub/train.csv
DEVICE=auto
GRADCAM_ALPHA=0.4
